{:workspace "workspace"
 :log {:level :debug
       :rotor-log-file "rotor.log"}
 :fxcm {:url "www.fxcorporate.com/Hosts.jsp"
        :login ""
        :password ""
        :connection "demo"
        :session-id ""
        :pin ""}
 :instruments {:eur-usd {:iname "EUR/USD"}}
 :trade {:order-wait 3 ;; wait time in minutes
         :lots 1
         :entry 1}}
