{:workspace "workspace"
 :log {:level :debug
       :rotor-log-file "rotor.log"}
 :fxcm {:url "www.fxcorporate.com/Hosts.jsp"
        :login ""
        :password ""
        :connection "demo"
        :session-id ""
        :pin ""}
 ;; trade attributes can be overridden for each instrument individually
 :trade {:order-wait 3 ;; wait time in minutes
         :lots 1
         :entry 1}
 :instruments {:eur-usd {:iname "EUR/USD"
                         :spread 2
                         :pip-cost 0.1
                         :order? true ;; allow new orders
                         ;; optional - :order-wait, :lots, :entry, etc.
                         ;; specify here to override the trade attribute
                         ;; for this instrument only
                         :lots 1}}}
